header {
    height: 10vh;
    display: flex;
    place-items: center;
    color: white;
    border-bottom: 0.1rem groove grey;
    padding: 0.5rem;
    background-color: #000000;
    position: fixed;
    width: 100vw;
    z-index: 10;
}

nav {
    position: absolute;
    transition: 0.5s;
    background-color: #000000;
    top: 10vh;
    left: 0;
    width: 100%;
    height: calc(100vh - 10vh);
    padding: 0.4rem;
    box-shadow: 0 0 0.1rem grey;
}

nav li {
    margin: 1rem 0;
}

nav a {
    color: white;
}

.showNav {
    transform: translate(0, 0);
}

.hideNav {
    transform: translate(-100vw, 0);
}

.showSearchInput {
    transform: translate(0, 0);
}

.hideSearchInput {
    transform: translate(100vw, 0);
}

.searchBtn {
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin-left: auto;
}

header input {
    margin: 0 0.5rem 0 0.5rem;
    padding: 0.2rem;
    transition: 0.1s;
    background-color: transparent;
    color: white;
    border: 1px groove white;
}

::placeholder {
    color: white;
}

::-webkit-input-placeholder {
    color: white;
}

.searchBtn a {
    color: teal;
    background-color: black;
}

.active {
    color: teal;
}

@media screen and (min-width: 600px) {
    nav {
        position: relative;
        transition: 0.5s;
        height: auto;
        width: auto;
        box-shadow: 0 0 0.1rem grey;
        top: 0;
        left: 0;
        transition: none;
        box-shadow: none;
        padding: 0;
    }

    nav ul {
        display: flex;
    }

    nav li {
        margin: 0 1rem ;
    }

    nav a {
        border: 1px solid white;
        padding: 0.5rem;
        border-radius: 2rem;
        font-size: 0.5rem;
    }

    .hideNav {
        transform: translate(0, 0);
    }

    .hideSearchInput {
        transform: translate(0, 0);
    }

    .searchBtn {
        padding-right: 1rem;
    }

    .toggleNavBtn {
        display: none;
    }

    .active {
        background-color: white;
        color: black;
    }
} 