.card {
    width: 6rem;
    height: auto;
    margin-bottom: 0rem;
    border: 5px solid black;
    text-align: center;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.08);
}

.cardHover {
    width: 6rem;
}

.card img {
    width: 5.6rem;
    height: 200px;
}

.card p:nth-child(2) {
    font-weight: bold;
    font-size: 0.6rem;
    letter-spacing: 0;
}

.card p {
    font-size: 0.5rem;
    letter-spacing: 0;
}