/*main {
    padding-top: calc(10vh + 1rem);
}*/

.movieList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    place-items: center;
}

.movieCategory {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.movieCategory:nth-child(1) {
    padding-top: calc(10vh + 0.5rem);
}

@media screen and (min-width: 600px) {
    .movieList {
        grid-template-columns: repeat(4, 6.4rem);
        gap: 2rem;
        justify-content: center;
    }

}